.cover__link {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 740px; */
}
.cover__link::before {
    content: "";
    background-image: url(../../../images/__background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s linear 0.3s;
}

@media screen and (max-width:1279px) {
    .cover__link {
        width: 1000px;
    }
}
@media screen and (max-width:1023px) {
    .cover__link {
        width: 749px;
    }
}
@media screen and (max-width: 767px) {
    .cover__link {
        width: 315px;
    }
}


.cover__link:hover::before {
    opacity: 0.3;
}
@media screen and (max-width:1279px) {
    .cover__link::before {
        width: 1000px;
    }
}
@media screen and (max-width:1023px) {
    .cover__link::before {
        width: 749px;
    }
}
@media screen and (max-width: 767px) {
    .cover__link::before {
        width: 315px;
        object-fit: fill;
    }
}



