.cover__link {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 740px;
    z-index: 1;
    background-image: url(../../../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.cover__link::before {
    content: "";
    transition: opacity 0.5s linear 0.3s;
    background-color: #2A2C2F;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.cover__link:hover::before {
    opacity: 0.8;
  }


@media screen and (max-width:1279px) {
    .cover__link {
        min-height: 640px;
    }
}
@media screen and (max-width:1023px) {
    .cover__link {
        min-height: 480px;
    }
}
@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
        justify-content: end;
    }
}




