.lead {
    /* height: 1005px; */
    width: 984px;
    margin: 3.5em auto 0;
}
@media screen and (max-width:1279px) {
    .lead {
        width: 928px;
    }
}
@media screen and (max-width:1023px) {
    .lead {
        width: 750px;
    }
}
@media screen and (max-width: 767px) {
    .lead {
        width: 315px;
    }
}