.cover__title {
    position: relative;
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    z-index: 2;
    margin: 245px auto 32px;
    color: #fff;
}
@media screen and (max-width:1279px) {
    .cover__title {
        margin: 195px auto 32px;
    }
}
@media screen and (max-width:1023px) {
    .cover__title {
        margin: 115px auto 32px;
    }
}
@media screen and (max-width: 767px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 33px auto 16px;
    }
}