.place__website {
    display: grid;
    width: 456px;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    align-items: end;
    align-self: end;
}

@media screen and (max-width:1023px) {
    .place__website {
        width: 352px;
    }
}
@media screen and (max-width: 767px) {
    .place__website {
        width: 288px;
    }
}